body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #f1ac6a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}